.backLink {
   margin-bottom: 40px;
}

.backLink,
.additionalLink {
   font-size: 14px;
   font-weight: 400;
   letter-spacing: 0.15em;
   display: inline-block;
   padding: 5px 15px;
   text-transform: uppercase;
   box-shadow: 0 0 2px 0px aquamarine;
   transition: all 300ms;
}

.backLink:hover,
.additionalLink:hover {
   background-color: rgba(127, 255, 212, 0.78);
   color: black;
   text-decoration: none;
}

.mainBlock {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 40px;
}

.tumbPoster {
   overflow: hidden;
   align-self: flex-start;
   flex: 1 1 auto;
   box-shadow: 0px 0px 8px 0px #fafafa;
   /* min-width: 100%; */
}

.poster {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.additionalList {
   display: flex;
   gap: 15px;
}

@media only screen and (min-width: 420px) {
   .tumbPoster {
      align-self: center;
      width: 300px;
   }
}

@media only screen and (min-width: 768px) {
   .mainBlock {
      flex-direction: row;
      margin-bottom: 40px;
   }

   .tumbPoster {
      flex: 1 1 30%;
      width: 100%;
      align-self: flex-start;
   }

   .content {
      flex: 1 1 65%;
      align-self: flex-start;
   }

   .contentTitle {
      font-size: 42px;
      line-height: 2;
   }

   .category {
      margin-bottom: 30px;
   }

   .contentSubtitle {
      font-size: 25px;
      font-weight: 600;
      line-height: 1.5;
   }

   .additionalTitle {
      font-size: 25px;
      font-weight: 600;
      line-height: 1.5;
   }

   .additionalBlock{
      display: flex;
      flex-direction: column;
      row-gap: 30px;
   }
}