.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  padding-top: 20px;
}

.header .container {
  padding: 20px;
  background-color: rgba(71, 71, 71, 0.457);
}